*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.product-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.product-info {
  padding: 16px;
}

.product-info h2 {
  margin: 0 0 8px;
  font-size: 20px;
}

.description {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.price {
  font-size: 22px;
  font-weight: bold;
  margin: 12px 0;
}

.product-info button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #111;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.product-info button:hover {
  background: #333;
}